.idea
/data
.env
/.project
.docker-sync

# GEO
usr/geo/mapcache/*
usr/geo/mapserver/fonts/*
usr/geo/mapserver/shapefiles/*
usr/geo/mapserver/symbols/*

# LOG
usr/log/mapserver/*
usr/log/nginx/*
usr/log/pgsql/*
usr/log/php/*